@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
*{
    font-family: sans-serif;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --color-principal: #1f54a4e5;
    --color-primario:#141e5bd2;
    --color-secundario:#87cefa8a;
    --color-terciario:#3f83b7;
    --color-cuarto:#c3d5db;
    --color-quinto:#e0eff2;
}


/* ----------------------------HEADER----------------------- */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    padding: 1vh 5vw;
    border-radius: 10px;
    height: 7vh;
}
img{
    width: 4vw;
}
.btn-menu{
    background-color: var(--color-quinto);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: none;
}
nav{
    display: flex;
    align-items: center;
    gap: 5vh;
}

@media screen and (max-width: 800px){
    nav{
        display: none;
    }
    .btn-menu{
        display: block;
    }
}
a{
    color: var(--color-principal);
    text-decoration: none;
}
a:hover{
    color: white;
}
.btn-iniciar-sesion{
    background-color: transparent;
    border: var(--color-principal) 2px solid;
    color: var(--color-principal);
    border-radius: 14px;
    width: 7vw;
    height: 4vh;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-iniciar-sesion:hover{
    background-color: var(--color-principal);
    color: white;
}
.btn-registrarse{
    background-color: transparent;
    border: var(--color-principal) 2px solid;
    color: var(--color-principal);
    border-radius: 14px;
    width: 7vw;
    height: 4vh;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-registrarse:hover{
    background-color: var(--color-principal);
    color: white;
}



/* ----------------------------FIN HEADER--------------------- */
/* ----------------------------FORMULARIO--------------------- */


.seccion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imagen-principal{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 50%;
}
@keyframes left-to-right{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}
h1{
    display: flex;
    font-size: 40px;
    color: var(--color-principal);
    animation-name: left-to-right;
    animation-duration: 2s;
}
h1:hover{
    transition: ease-in-out 0.4s;

}
.caja{
    display: flex;
    justify-content: center;
    background-color: #141d5b96;
    width: 40vw;
    height: 70%;
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    margin: 2vw 3vw;
}
.caja h2{
    color: #F7F7F7;
    text-shadow: 0 0 5px black;
}
.titulo{
    color: #F7F7F7;
    text-shadow: 0 0 5px black;
} 
.caja .contenedorForm .formularioUsuario .form1{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5vh 1vw;
    gap: 3%;
} 
.caja .form2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 5vh 1vw;
}
.caja input{
    display: flex;
    height: 4vh;
    width: 30%;
    border: #F7F7F7;
    border-radius: 14px;
    text-align: center;
}
.caja .cotizar{
    display: flex;
    justify-content: center;
    color: #F7F7F7;
    margin-bottom: 4vh;
}
.caja .btn-cotizar{
    display: flex;
    justify-content: center;
    border-radius: 14px;
    width: 6vw;
}
.caja .btn-cotizar:hover{
    background-color: var(--color-principal);
    color: white;
}


/* ----------------------------FIN FORMULARIO--------------------- */
/* ----------------------------NUESTROS DESTINOSS--------------------- */


.seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.caja-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    height: 8vh;
    border-radius: 14px;
}
.titulo-destinos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    width: 30vw;
    color: var(--color-primario);
    }
.contenedor{
    display: flex;
    justify-content: space-around;/* para que deje espacio con los bordes */
    flex-wrap: wrap;/* para que se acomode al tamaño de la caja */
    gap: 10px;
}
.card{
    background-color: var(--color-secundario);
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.408);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.card img{    
    width: 85%;
    border-radius: 20px;
}
.card:hover{
    background-color:var(--color-primario);
    transform: translateY(-20px);
}


/* ----------------------------FIN NUESTROS DESTINOS--------------------- */
/* ----------------- SUSCRIPCION AL NEWSLETTER------------------ */
.seccion3{
    background-color: var(--color-secundario);
    border-radius: 20px;
    margin-bottom: 15px;
}
.formularioSuscripcion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formularioSuscripcion h2{
    color: var(--color-primario);
}
.formularioContacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
} 
.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 18px;
}
.inputContainer input{
    border: var(--color-primario) 1px solid;
    border-radius: 20px;
    padding: 5px;
    width: 25vw;
}
label{
    color: var(--color-primario);
}
.btn-suscribirme{
    width: 200px;
    padding: 5px;
    background-color: var(--color-terciario);
    border-radius: 20px;
    color: var(--color-quinto);
    margin-bottom: 10px;
}
.btn-suscribirme:hover{
    transition:1s ease-in-out;
    background-color: var(--color-quinto);
    color: var(--color-terciario);
}


/* ----------------- FIN SUSCRIPCION AL NEWSLETTER------------------ */
/* ----------------------------FOOTER--------------------- */


footer{
    background-color: var(--color-primario);
}
.pie-pagina {
    width: 100%;
    background-color: var(--color-primario);
    border-radius: 20px;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .form3 h2{
    color:whitesmoke;
    font-size: 20px;
}
.pie-pagina .form3 p{
    color:whitesmoke;
    font-size: 16px;
}
.pie-pagina .grupo-1 .box h2{
    color: #F7F7F7;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box a{
    color: #F7F7F7;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
}
.pie-pagina .grupo-1 .box a:hover{
    color:lightskyblue
}
.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 75px;
    height: 75px;
    line-height: 45px;
    color: #F7F7F7;
    margin-right: 10px;
    background-color: none;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
    color:lightskyblue;
}
.pie-pagina .grupo-2 {
    color:var(--color-primario);
    padding: 15px 10px;
    text-align: center;
    color:var(--color-terciario);
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    nav{
        display: none;    
    }
    .btn-menu{
        display:block;
    }
}
/* ----------------------------FIN FOOTER--------------------- */